<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>メモ内容</h1>
  <div>
    <div>
      タイトル: <%=@title%>
    </div>  
    <div>
      本文:
      <p>
        <%=@content%>
      </p>
    </div>    
  </div>
</body>
</html>