<div class="content-width">
  <div class="content-wrap content-width">
    <h1 class="content-detal-title">404エラー</h1>
    <p class="content-detal">ページが見つかりません。</p>
    <p class="content-detal">お探しのページは、移動または削除された可能性があります。</p>
  </div>
  <div class="link">
    <a class="link-content" href="/memos">メモ一覧へ</a>
  </div>
</div>
