<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/style.css" />
  <title><%= @title %></title>
</head>

<body>
  <header class="header">
    memo sinatra
  </header>
  <main>
    <%= yield %>
  </main>
  <footer class="footer">
    <div class="footer-content">
      ©︎ naomichi-h 2021
    </div>
  </footer>
</body>

</html>
