<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>編集メモ</h1>
  <form action="/memos/<%= @id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <div>
      タイトル:<input type="text" name="title" value="<%= @memo["title"]%>">
    </div>
    <div>
      本文:
      <textarea name="content" rows="5"><%= @memo["content"]%></textarea>
    </div>
    <div>
      <input type="submit" value="保存する">
    </div>
  </form>
</body>
</html>