<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>新規メモ</h1>
  <form action="memo_create" method="POST">
    <div>
      タイトル:<input type="text" name="title" value="">
    </div>
    <div>
      本文:
      <textarea name="content" rows="5"></textarea>
    </div>
    <div>
      <input type="submit" value="保存する">
    </div>
  </form>
</body>
</html>