<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header class="header">
    memo sinatra
  </header>
  <main>
  <div class="background">
  <div class="content-width">
  <h1 class="content-title">メモ編集</h1>
  <form class="form" action="/memos/<%= @id %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <input class="form-title" type="text" name="title" value="<%= @memo["title"]%>" placeholder="メモタイトルを入力してください">
      <textarea class="form-content" name="content" rows="5" placeholder="メモ本文を入力してください"><%= @memo["content"]%></textarea> 
    <div class="btn-flex">
      <input class="btn btn-color-green" type="submit" value="保存">
    </div>
  </form>
  <div class="link">
    <a class="link-content" href="/memos">メモ一覧へ</a>
    </div>
  </div>
  </div>
  </main>
  <footer class="footer">
    <div class="footer-content">
      ©︎ naomichi-h 2021
    </div>
  </footer>
</body>
</html>