  <div class="background">
  <div class="content-width">
  <h1 class="content-title">新規メモ作成</h1>
  <form class="form" action="memos" method="POST">
      <input class="form-title" type="text" name="title" value="" placeholder="メモタイトルを入力してください">
      <textarea class="form-content" name="content" rows="5" placeholder="メモ本文を入力してください"></textarea> 
    <div class="btn-flex">
      <input class="btn btn-color-green" type="submit" value="保存">
    </div>
  </form>
  <div class="link">
    <a class="link-content" href="/memos">メモ一覧へ</a>
    </div>
  </div>
  </div>
