<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>メモ詳細</title>
</head>
<body>
<h1>タイトル</h1>
<p><%= @memo["title"] %></p>
<h2>本文</h2>
<p><%= @memo["content"] %></p>
</body>
</html>