<div class="content-width">
<div class="content-wrap content-width">
<h1 class="content-detal-title"><%= h(@memo["title"]) %></h1>
<p class="content-detal"><%= h(@memo["content"]) %></p>
</div>

<form class="btn-flex" method="post" action="/memos/<%= @id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input class="btn btn-color-red" type="submit" value="削除">
  <button class="btn btn-color-green"><a class="btn btn-color-green" href="/memos/<%= @id %>/edit" >編集</a></button>
</form>
<div class="link">
<a class="link-content" href="/memos">メモ一覧へ</a>
  </div>
  </div>
